@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
  color: var(--cor-branca);
  font-size: 62.5%;
  font-weight: 300;
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-fundo-cinza-escuro);
  font-family: var(--fonte-primaria);
  font-size: var(--fonte-normal);
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.alinhar-itens-no-centro {
  align-items: center;
}

.redes-sociais a {
  display: inline-block;
  width: 70px;
  height: 70px;
  font-size: 3rem;
  text-align: center;
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.redes-sociais a:hover {
  color: var(--cor-secundaria);
  transform: scale(1.15);
}

.redes-sociais a i {
  line-height: 70px;
}

.outer-shadow {
  box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
  box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section {
  padding: 7rem 0 7rem;
}

.section-title {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 60px 0;
}

.section-title h2 {
  font-size: var(--fonte-gigante);
  color: var(--cor-secundaria);
  font-weight: 700;
  text-transform: uppercase;
}

.botao {
  font-size: var(--fonte-grande);
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-color: var(--cor-secundaria);
}

.botao:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
}

/* BACK TO TOP */
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;
  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}
#backToTopButton svg circle {
  fill:var(--cor-secundaria)
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

@media (max-width:450px) {
  body {
    overflow-x: hidden;
  }
}