.habilidades .container-habilidades {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.habilidades .container-habilidades .habilidade {
  max-width: 300px;
  padding: 40px 20px;
  border-radius: 10px;
}

.habilidades .container-habilidades .habilidade.html {
  border: 2px solid var(--cor-azul-media);
  animation: c-glowing-html 0.5s ease-out infinite;
  animation-direction: alternate;
  background-color: var(--cor-fundo-cinza-claro);
}

.habilidades .container-habilidades .habilidade.css {
  border: 2px solid var(--cor-azul-media);
  animation: c-glowing-css 0.5s ease-out infinite;
  animation-direction: alternate;
  background-color: var(--cor-fundo-cinza-claro);
}

.habilidades .container-habilidades .habilidade.javascript{
  border: 2px solid var(--cor-azul-media);
  animation: c-glowing-javascript 0.5s ease-out infinite;
  animation-direction: alternate;
  background-color: var(--cor-fundo-cinza-claro);
}

.habilidades .container-habilidades .habilidade.github{
  border: 2px solid var(--cor-azul-media);
  animation: c-glowing-github 0.5s ease-out infinite;
  animation-direction: alternate;
  background-color: var(--cor-fundo-cinza-claro);
}

.habilidades .container-habilidades .habilidade.react{
  border: 2px solid var(--cor-azul-media);
  animation: c-glowing-react 0.5s ease-out infinite;
  animation-direction: alternate;
  background-color: var(--cor-fundo-cinza-claro);
}

.habilidades .container-habilidades .habilidade.git{
  border: 2px solid var(--cor-azul-media);
  animation: c-glowing-git 0.5s ease-out infinite;
  animation-direction: alternate;
  background-color: var(--cor-fundo-cinza-claro);
}

.habilidade .card-border::before {
  background: hsl(16, 79%, 45%);
}

.skills_card::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: var(--container-color);
  border-radius: 20px;
}

.habilidades .container-habilidades .habilidade:hover {
  color: var(--cor-secundaria);
}

.habilidades .container-habilidades .habilidade p,
.habilidades .container-habilidades .habilidade h3,
.habilidades .container-habilidades .habilidade .logo i {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.habilidades .container-habilidades .habilidade h3 {
  color: var(--cor-branca);
  font-size: var(--fonte-extra-grande);
  font-weight: 500;
  margin-bottom: 20px;
}

.habilidades .container-habilidades .habilidade .html,
.devicon-html5-plain-wordmark{
    color: #e53a2d;
}

.habilidades .container-habilidades .habilidade .javascript,
.devicon-javascript-plain {
  color: #ead41c;
}

.habilidades .container-habilidades .habilidade .css,
.devicon-css3-plain-wordmark {
    color: #3492cb;
}

.habilidades .container-habilidades .habilidade .github,
.devicon-github-original {
    color: #000000;
}

.habilidades .container-habilidades .habilidade .react,
.devicon-react-original {
    color:  #5ccfee;
}

.habilidades .container-habilidades .habilidade .git,
.devicon-git-plain {
    color: #e53a2d;
}

.habilidades .container-habilidades .habilidade p {
  font-size: 1.8rem;
  font-family: var(--fonte-secundaria);
}

.habilidades .container-habilidades .habilidade i {
  font-size: 9rem;
}
