.home .full-screen {
    min-height: 86vh;
    padding: 50px 0;
}

.home .texto-home {
    visibility: hidden;
    letter-spacing: 2px;
}

.home .texto-home,
.home .img-home {
    visibility: hidden;
    flex: 0 0 50%;
    max-width: 70%;
    padding: 0 15px;
}

.home .img-home .img-box {
    max-width: 700px;
    margin: auto;
}

.home .img-home .img-box img {
    width: 100%;
    height: 70vh;
    filter: drop-shadow(5px 5px 300px #bd9243);
}

.home .texto-home p {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-grande);
    margin-bottom: 10px;
}

.home .texto-home h1 {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-gigante);
    font-weight: 700;
}

.home .texto-home span {
    font-size: var(--fonte-gigante);
    font-weight: 700;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}

.home .texto-home h2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-grande);
    letter-spacing: 2px;
    margin-bottom: 30px;
}

@media(max-width: 1280px) {
    .home .texto-home,
    .home .img-home {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        padding: var(--mobile-padding);
    }
}

