.sobre-mim .imagem-sobre-mim {
    max-width: 40%;
    padding: 0 15px;
    visibility: hidden;
}

.sobre-mim .imagem-sobre-mim .img-box { 
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.sobre-mim .imagem-sobre-mim img {
    border: 10px solid transparent;
    border-radius: 5px;
}

.sobre-mim .informacoes-sobre-mim {
    max-width: 50%;
    padding: 0 25px;
}

.sobre-mim .informacoes-sobre-mim .botoes {
    margin-top: 50px;
    border-radius: 10px;
    margin: 0 auto;
}

.glow-on-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--cor-secundaria);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, var(--cor-secundaria), var(--cor-fundo-cinza-claro),var(--cor-secundaria), var(--cor-fundo-cinza-claro), var(--cor-secundaria), var(--cor-fundo-cinza-claro), var(--cor-secundaria), var(--cor-fundo-cinza-claro), var(--cor-secundaria));
    position: absolute;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(207, 21, 21)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

@media(max-width: 980px) {
    .sobre-mim .row {
        justify-content: center;
    }

    .sobre-mim .imagem-sobre-mim {
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    }

    .sobre-mim .informacoes-sobre-mim {
        padding: 0 var(--mobile-padding);
        text-align: center;
    }

    .sobre-mim .informacoes-sobre-mim {
        max-width: 100%;
    }
}